body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}

a:hover{
    color: red;
}

footer {
    display: flex;
    align-items: center;
    text-size-adjust: 100%;
    justify-content: center;
    background-color: #f4f4f4;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.outer {
    background-color: #f4f4f4;
    padding: 12px;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.wrap {
    margin: 0 auto;
}

.sub {
    padding: 12px;
    width: 32%;
    height: 150px;
    background: #f4f4f4;
    display: table-cell;
    border-right: solid #b4b4b4 1px;
}

    .sub:last-child {
        border: 0px
    }

a {
    text-decoration: none;
    color: black;
}

.logoNP {
    width: auto;
    height: auto;
    max-height: 200px;
    max-width: 320px;
}

@media screen and (max-width: 780px) {
    .logoNP{
        width: auto;
        height: auto;
        max-height: 53px;
        max-width: 100px;
    }
}

@media screen and (max-width: 1200px) {
    .logoNP {
        width: auto;
        height: auto;
        max-height: 100px;
        max-width: 220px;
    }
}