.content {
    padding-top: 65px;
    background-color: #f4f4f4;
}
* {
    box-sizing: border-box
}

.rws-content {
    max-width: 1000px;
    margin: auto;
}
body {
    font-family: Verdana, sans-serif;
    margin: 0
}
.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}
/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Content */
.inner-content {
    background-color: white;
    padding: 10px;
    height:500px;
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

.text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width:600px) {
    body {
        float: none;
        margin:auto;
    }
    info-text{
        margin:0;
    }
}

@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}

.info-text{
    padding:150px;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 6px;
    border: 0;
    font-weight: bold;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    background: #ff0000;
    color: #fff;
}
    .button:hover,
    .button:focus,
    .button:active {
        background: #00ff05;
        color: black;
    }

video {
    justify-content:center;
    margin:auto;
    width: 100%;
    max-width: 1600px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
  
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
      
    }
  
}