.content {
    padding-top: 65px;
    background-color:#f4f4f4;
}

.welcomemessage{
    text-align: center;
    padding:100px;
}
    .welcomemessage h1 {
        font-size: xx-large;
    }

video {
    width: 100%;
    max-width: 1600px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.flag{
    padding:100px;
    text-align:center;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.5em;
}

#item {
    border-color: #fff;
    border-style: solid;
    margin: 10px;
    padding: 20px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
}

section .attractions{
}

.item1 {
    background: url("../media/RWS.jpg");
    background-size: cover;
    width:100%;
}

.item2 {
    background: url("../media/Singapore-Flyer.png");
    background-size: cover;
}

.item3 {
    background: url("../media/Garden_by_the_bay.jpg");
    background-size: cover;
}

.item4 {
    background: url("../media/singapore_zoo.jpg");
    background-size: cover;
}