.content {
    padding-top: 65px;
    background-color:#f4f4f4;
}

.welcomemessage{
    text-align: center;
    padding:100px;
}
    .welcomemessage h1 {
        font-size: xx-large;
    }

video {
    width: 100%;
    max-width: 1600px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.flag{
    padding:100px;
    text-align:center;
}