.content {
    padding-top: 65px;
    background-color:#f4f4f4;
}

.welcomemessage{
    text-align: center;
    padding:100px;
}
    .welcomemessage h1 {
        font-size: xx-large;
    }

video {
    width: 100%;
    max-width: 1600px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.flag{
    padding:100px;
    text-align:center;
}
h2 {
    font-size: 1.2em;
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 25%;
    padding: 5px;
    height: 250px;
    display: flex;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .column {
        width: 100%;
    }
}



section .attractions{
}

